In [38]:
import pandas as pd
#import os

school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/clean_students_complete.csv"

#school_data_to_load = os.path.join("Resources", "school_complete.csv")
#student_data_to_load = os.path.join("Resources", "students_complete.csv")

school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

# school_data_df.head()
student_data_df.head()

,Unnamed: 0,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [39]:
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name","school_name"])
school_data_complete_df.head()

,Unnamed: 0,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [40]:
school_data_complete_df.count()

Unnamed: 0       39170
Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

In [41]:
school_count = school_data_complete_df["school_name"].unique()
school_count

school_count_2 = len(school_data_complete_df["school_name"].unique())
school_count_2

15

In [42]:
budget = school_data_df["budget"].sum()
budget

24649428

In [43]:
average_reading_score = student_data_df["reading_score"].mean()
average_reading_score

81.87784018381414

In [44]:
average_math_score = student_data_df["math_score"].mean()
average_math_score

78.98537145774827

In [69]:
passing_math = school_data_complete_df["math_score"]>= 70

In [68]:
passing_reading = school_data_complete_df["reading_score"]>= 70

In [58]:
# Calculate the number of students passing math.
passing_math_count = passing_math["student_name"].count()

# Calculate the number of students passing reading.
passing_reading_count = passing_reading["student_name"].count()

print(passing_math_count)
print(passing_reading_count)

29370
33610

In [63]:
student_count = school_data_complete_df["Student ID"].count()

passing_math_percent = passing_math_count / float(student_count)*100
passing_reading_percent = passing_reading_count / float(student_count)*100

print(passing_math_percent)
print(passing_reading_percent)

74.9808526933878
85.80546336482001

In [70]:
passing_math_reading = school_data_complete_df[passing_reading & passing_math]
print(passing_math_reading)

       Unnamed: 0  Student ID     student_name gender grade  \
4               4           4       Bonnie Ray      F   9th
5               5           5    Bryan Miranda      M   9th
6               6           6    Sheena Carter      F  11th
8               8           8     Michael Roth      M  10th
9               9           9   Matthew Greene      M  10th
...           ...         ...              ...    ...   ...
39165       39165       39165     Donna Howard      F  12th
39166       39166       39166        Dawn Bell      F  10th
39167       39167       39167   Rebecca Tanner      F   9th
39168       39168       39168     Desiree Kidd      F  10th
39169       39169       39169  Carolyn Jackson      F  11th

              school_name  reading_score  math_score  School ID      type  \
4       Huang High School             97          84          0  District
5       Huang High School             94          94          0  District
6       Huang High School             82          80          0  District
8       Huang High School             95          87          0  District
9       Huang High School             96          84          0  District
...                   ...            ...         ...        ...       ...
39165  Thomas High School             99          90         14   Charter
39166  Thomas High School             95          70         14   Charter
39167  Thomas High School             73          84         14   Charter
39168  Thomas High School             99          90         14   Charter
39169  Thomas High School             95          75         14   Charter

       size   budget
4      2917  1910635
5      2917  1910635
6      2917  1910635
8      2917  1910635
9      2917  1910635
...     ...      ...
39165  1635  1043130
39166  1635  1043130
39167  1635  1043130
39168  1635  1043130
39169  1635  1043130

[25528 rows x 12 columns]

In [72]:
len(passing_math_reading)

25528

In [76]:
passing_math_reading.dtype

AttributeError: 'DataFrame' object has no attribute 'dtype'

In [80]:

overall_passing_percent = round(len(passing_math_reading)/float(student_count)*100,2)
overall_passing_percent

65.17

In [ ]:
# Adding a list of values with keys to create a new DataFrame.
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count,
          "Total Students": student_count,
          "Total Budget": total_budget,
          "Average Math Score": average_math_score,
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])
district_summary_df